######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
Thumbs.db
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn
# Thumbnails
._*
.Spotlight-V100
.Trashes

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*