<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<!-- Copyright 2015 [inno:vasion] -->

<configuration debug="false">

  <property name="home" value="./" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <Pattern>%d %-5p %c{0}:%L - %m%n</Pattern>
    </encoder>
  </appender>


  <appender name="INFLUX" class="io.github.bckfnn.influxlogback.InfluxDbAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    
    <url>http://localhost:8086/write?db=logback&amp;precision=u</url>
    <auth>ethics:password</auth>
    
    <measurement>logger</measurement>
    <tag>
      <name>level</name>
      <pattern>%level</pattern>
    </tag>
    <field>
      <name>logger</name>
      <pattern>%logger</pattern>
    </field>
    <field>
      <name>line</name>
      <pattern>%line</pattern>
    </field>
    <field>
      <name>msg</name>
      <pattern>%msg</pattern>
    </field>
    <field>
      <name>exception</name>
      <pattern>%exception</pattern>
    </field>
  </appender>  

 
  <root level="DEBUG">
    <appender-ref ref="INFLUX"/>
  </root>

</configuration>

